.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 189 129);
  --md-sys-color-surface-tint: rgb(254 184 118);
  --md-sys-color-on-primary: rgb(38 17 0);
  --md-sys-color-primary-container: rgb(193 131 71);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(230 197 168);
  --md-sys-color-on-secondary: rgb(35 18 3);
  --md-sys-color-secondary-container: rgb(169 139 114);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 186 175);
  --md-sys-color-on-tertiary: rgb(51 5 2);
  --md-sys-color-tertiary-container: rgb(204 123 111);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(25 18 12);
  --md-sys-color-on-background: rgb(239 224 213);
  --md-sys-color-surface: rgb(25 18 12);
  --md-sys-color-on-surface: rgb(255 250 248);
  --md-sys-color-surface-variant: rgb(81 68 58);
  --md-sys-color-on-surface-variant: rgb(218 199 186);
  --md-sys-color-outline: rgb(177 160 147);
  --md-sys-color-outline-variant: rgb(144 128 116);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(239 224 213);
  --md-sys-color-inverse-on-surface: rgb(49 40 34);
  --md-sys-color-inverse-primary: rgb(108 60 3);
  --md-sys-color-primary-fixed: rgb(255 220 191);
  --md-sys-color-on-primary-fixed: rgb(30 13 0);
  --md-sys-color-primary-fixed-dim: rgb(254 184 118);
  --md-sys-color-on-primary-fixed-variant: rgb(83 45 0);
  --md-sys-color-secondary-fixed: rgb(255 220 191);
  --md-sys-color-on-secondary-fixed: rgb(29 13 1);
  --md-sys-color-secondary-fixed-dim: rgb(226 192 164);
  --md-sys-color-on-secondary-fixed-variant: rgb(71 50 30);
  --md-sys-color-tertiary-fixed: rgb(255 218 213);
  --md-sys-color-on-tertiary-fixed: rgb(44 1 1);
  --md-sys-color-tertiary-fixed-dim: rgb(255 180 168);
  --md-sys-color-on-tertiary-fixed-variant: rgb(94 36 28);
  --md-sys-color-surface-dim: rgb(25 18 12);
  --md-sys-color-surface-bright: rgb(64 55 48);
  --md-sys-color-surface-container-lowest: rgb(19 13 7);
  --md-sys-color-surface-container-low: rgb(34 26 20);
  --md-sys-color-surface-container: rgb(38 30 24);
  --md-sys-color-surface-container-high: rgb(49 40 34);
  --md-sys-color-surface-container-highest: rgb(60 51 44);
}
